<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyFgYb7Qc7tzCUOvecnpVVg_VEz7EFS9A</string>
	<key>GCM_SENDER_ID</key>
	<string>557062219747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beeseek.client</string>
	<key>PROJECT_ID</key>
	<string>beeseek-5e898</string>
	<key>STORAGE_BUCKET</key>
	<string>beeseek-5e898.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557062219747:ios:e534c26dfedea57cdee2d6</string>
</dict>
</plist>